<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.dao.MessageDao">

    <sql id="baseSql">
        <if test="id != null and id != ''">
            id,
        </if>
        <if test="fromid != null and fromid != ''">
            fromid,
        </if>
        <if test="fromtype != null and fromtype != ''">
            fromtype,
        </if>
        <if test="toid != null and toid != ''">
            toid,
        </if>
        <if test="messagetype != null and messagetype != ''">
            messagetype,
        </if>
        <if test="entityid != null and entityid != ''">
            entityid,
        </if>
        <if test="time != null">
            time,
        </if>
        <if test="deleted != null and deleted != ''">
            deleted
        </if>
    </sql>


    <insert id="addMessage" parameterType="com.lee.entity.Message">
        INSERT INTO message(<include refid="baseSql"></include>)
        VALUES (
        <if test="id != null and id != ''">
            #{id},
        </if>
        <if test="fromid != null and fromid != ''">
            #{fromid},
        </if>
        <if test="fromtype != null and fromtype != ''">
            #{fromtype},
        </if>
        <if test="toid != null and toid != ''">
            #{toid},
        </if>
        <if test="messagetype != null and messagetype != ''">
            #{messagetype},
        </if>
        <if test="entityid != null and entityid != ''">
            #{entityid},
        </if>
        <if test="time != null">
            #{time},
        </if>
        <if test="deleted != null and deleted != ''">
            #{deleted}
        </if>
        )
    </insert>


    <resultMap id="getMessage" type="com.lee.vo.MessageVo">
        <id column="id" property="id"></id>
        <result column="fromid" property="fromid"></result>
        <result column="fromtype" property="fromtype"></result>
        <result column="toid" property="toid"></result>
        <result column="messagetype" property="messagetype"></result>
        <result column="entityid" property="entityid"></result>
        <result column="time" property="time"></result>
        <result column="deleted" property="deleted"></result>
        <result column="username" property="username"></result>
        <result column="userid" property="userid"></result>
    </resultMap>
    <select id="getMessage" resultMap="getMessage">
        SELECT
            message.*, `user`.id,
            `user`.username
        FROM
            message
        LEFT JOIN `user` ON `user`.id = message.fromid
        WHERE
            toid = #{userId}
        AND deleted = '0'
        ORDER BY time DESC
    </select>

    <update id="deleteMessage" parameterType="java.lang.String">
        UPDATE message
        SET deleted = '1'
        WHERE id = #{messageId}
    </update>

    <update id="deleteAllMessage" parameterType="java.lang.String">
        UPDATE message
        SET deleted = '1'
        WHERE toid = #{toId}
    </update>
</mapper>
