<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.dao.NewsDao">
    <sql id="baseSql">
        <if test="id != null and id != ''">
            id,
        </if>
        <if test="newstype != null and newstype != ''">
            newstype,
        </if>
        <if test="title != null and title != ''">
            title,
        </if>
        <if test="content != null and content != ''">
            content,
        </if>
        <if test="totop != null and totop != ''">
            totop,
        </if>
        <if test="tofine != null and tofine != ''">
            tofine,
        </if>
        <if test="userid != null and userid != ''">
            userid,
        </if>
        <if test="creationtime != null">
            creationtime
        </if>
    </sql>

    <resultMap id="baseResult" type="com.lee.entity.News">
        <id column="id" property="id"></id>
        <result column="newstype" property="newstype"></result>
        <result column="content" property="content"></result>
        <result column="totop" property="totop"></result>
        <result column="tofine" property="tofine"></result>
        <result column="userid" property="userid"></result>
        <result column="creationtime" property="creationtime"></result>
    </resultMap>

    <insert id="addNews" parameterType="com.lee.entity.News">
        insert into news(<include refid="baseSql"></include>)
        values(
        <if test="id != null and id != ''">
            #{id},
        </if>
        <if test="newstype != null and newstype != ''">
            #{newstype},
        </if>
        <if test="title != null and title != ''">
            #{title},
        </if>
        <if test="content != null and content != ''">
            #{content},
        </if>
        <if test="totop != null and totop != ''">
            #{totop},
        </if>
        <if test="tofine != null and tofine != ''">
            #{tofine},
        </if>
        <if test="userid != null and userid != ''">
            #{userid},
        </if>
        <if test="creationtime != null">
            #{creationtime}
        </if>)
    </insert>


    <resultMap id="selectUserNewsMap" type="com.lee.vo.UserNewsVo">
        <id column="id" property="id"></id>
        <result column="newstype" property="newstype"></result>
        <result column="content" property="content"></result>
        <result column="totop" property="totop"></result>
        <result column="tofine" property="tofine"></result>
        <result column="userid" property="userid"></result>
        <result column="creationtime" property="creationtime"></result>
        <result column="commentcount" property="commentcount"></result>
    </resultMap>
    <select id="selectUserNews" resultMap="selectUserNewsMap">
        SELECT
            news.*, count(`comment`.id) commentcount
        FROM
            news
        LEFT JOIN `comment` ON `comment`.entityid = news.id
        WHERE
            news.userid = #{userid}
        GROUP BY
            news.id
    </select>


    <resultMap id="getNewsMap" type="com.lee.vo.NewsVo">
        <id column="id" property="id"></id>
        <result column="newstype" property="newstype"></result>
        <result column="totop" property="totop"></result>
        <result column="tofine" property="tofine"></result>
        <result column="userid" property="userid"></result>
        <result column="creationtime" property="creationtime"></result>
        <result column="commentcount" property="commentcount"></result>
        <result column="usernmae" property="username"></result>
        <result column="headurl" property="headurl"></result>
    </resultMap>
    <select id="getNews" parameterType="com.lee.vo.NewsPageVo" resultMap="getNewsMap">
        SELECT
            n.id, n.newstype, n.title, n.totop, n.tofine, n.userid, n.creationtime, u.username, u.headurl,
            COUNT(c.id) AS commentcount
        FROM
            news n
        LEFT JOIN `comment` c ON n.id = c.entityid
        LEFT JOIN `user` u ON u.id = n.userid
        WHERE
        1=1
        <if test="title != null and title != ''">
          AND n.title LIKE '%'#{title}'%'
        </if>
        <if test="newstype !=null and newstype != ''">
          AND n.newstype = #{newstype}
        </if>
        GROUP BY n.id
        ORDER BY n.totop DESC,tofine DESC ,creationtime DESC
        LIMIT #{begin},#{pageSize}
    </select>

    <select id="getNewsTotal" parameterType="com.lee.vo.NewsPageVo" resultType="java.lang.Integer">
        select count(*) from news
        WHERE
        1=1
        <if test="title != null and title != ''">
            AND n.title LIKE '%'#{title}'%'
        </if>
        <if test="newstype !=null and newstype != ''">
            AND n.newstype = #{newstype}
        </if>
    </select>
</mapper>
