<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.dao.ZxDao">
    <sql id="userBaseSql">
        id,email,username,password,salt,headurl,jointime,city,sign,ticket
    </sql>

    <resultMap id="userBaseMap" type="com.lee.entity.User">

    </resultMap>

    <select id="checkEmail" resultType="java.lang.Integer" parameterType="java.lang.String">
        select count(*) from user where email = #{email}
    </select>

    <insert id="addUser" parameterType="com.lee.entity.User">
        insert into user (<include refid="userBaseSql"></include>)
        values (#{id},#{email},#{username},#{password},#{salt},#{headurl},#{jointime},#{city},#{sign},#{ticket})
    </insert>

    <select id="checkUser" parameterType="com.lee.entity.User" resultType="java.lang.Integer">
        select count(*) from user where email = #{email}
        and password = #{password}
    </select>

    <select id="selectUserByEmail" parameterType="java.lang.String" resultType="com.lee.entity.User">
        select * from user where email = #{email}
    </select>

    <update id="updateUserTicket">
        update user set ticket = #{ticket} where email = #{email}
    </update>
</mapper>
